{% set menu = 'settings' %}
{% extends "base.twig" %}

{% block title %}Settings - {{ parent() }}{% endblock %}

{% block content %}
    <h2>Settings</h2>
    {% if isSuccess %}
        <div class="alert alert-success" role="alert">
            Settings has been updated !
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <form method="POST" action="/admin/settings/update">
                {% for setting in settings %}
                    <div class="form-group col-lg-12">
                        <label for="{{ setting.key }}Input">{{ setting.key }}</label>
                        <input type="text" class="form-control" id="{{ setting.key }}Input" name="{{ setting.key }}" value="{{ setting.value }}" />
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}